body { /*body é todo conteudo da pagina*/
    font-family: 'Open Sans', sans-serif;/*fonte*/
    text-align: center;/*centralizou todos os conteudos da pagina ao meio*/
}

#hero { /*esta armazenando a imagens id=hero*/
    width: 592px; /*largura e altura da imagen*/
    margin: 0 auto 72px; /*margin total auto = automatimacamente centralizada */
}

#hero img{
    margin-bottom: 0 auto 72px;
}

h1 {

font-family: 'Open Sans', sans-serif; /*estilo da fonte*/
color: #000000; /*cor da fonte*/
font-size: 49px;  /*tamanho da fonte*/
line-height: 56px; /*define a altura de uma caixa de linha*/
}

h1 span { /* h1 esta pegando a parte do titulo e span é a parte que esta em pegando os negritos do titulo */
    font-weight: bold;/*fonte do titulo h1 e span*/

}



p {
    
    font-family: 'Open Sans', sans-serif; /*fonte*/
    color: #7D7987;/*cor dos texto em <p> paragravo*/
    font-size: 16px;
    line-height: 28px;
}

a { /*a esta pegando as parte de baixo onde estao os links (Instagra fale conosco) da pagina*/
    
    font-family: 'Open Sans', sans-serif;/*fonte*/
}


span { /*fonte em negrito*/
    color: #FF9900;

}

#footer a + a{
    margin-left: 28px;
}

#line {
    width: 568px;
    height: 0px;

}